<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Tienda Álbumes">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      (() => {
        const t = localStorage.getItem("phx:theme");
        if (t) document.documentElement.setAttribute("data-theme", t);
      })();
    </script>
  </head>
  <body style="background-color: #f7fbf6; min-height: 100vh;">
    {@inner_content}
  </body>
</html>
